* {
  box-sizing: border-box;
}

:root {
  --main-clr : #0069ff;
  --main-clr-dark : #0151fd;
  --bg-clr : #ecf4ff;
  --sec-clr : #bad7ff;
  --lite-clr : #ecf4ff;
}

body {
  background-color: var(--bg-clr);
}